# IDEA
.idea/

# Node modules
node_modules/

# Vue build
dist/

# Java build
target/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Environment
.env

# Package cache
/package-lock.json

# WeBASE cache
webase-deploy/
nodes/

# Temporary files
*.tmp